<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MMM</title>
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="head">
			<h1>MMM</h1>
			<div id="menu">
				<a href="/">FEED</a>
				<a href="" class="separator">▪</a>
				<a href="/">INFO</a>
				<a href="" class="separator">▪</a>
				<a href="/">GENERATE</a>
				<a href="" class="separator">▪</a>
				<a href="/">INSTAGRAM</a>
			</div>
		</div>
	<div id="container" class="wrapper">

		<div id="body">
			<div class="column" id='col0'>
				<div class="item">
					<img src="1.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a. </div>
				</div>
				<div class="item">
					<img src="3.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a.</div>
				</div>
			</div>
			<div class="column" id='col1'>
				<div class="item">
					<img src="2.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor.  </div>
				</div>
				<div class="item">
					<img src="1.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a. </div>
				</div>
			</div>
			<div class="column" id='col2'>
				<div class="item">
					<img src="3.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a. Cras in mauris sed felis iaculis consequat. Nulla at tincidunt elit, quis tincidunt ipsum. Ut vel lorem auctor, laoreet lectus at, rutrum dolor. Quisque posuere odio neque, in rutrum ex ultricies a.</div>
				</div>
				<div class="item">
					<img src="2.png" alt="">
					<div class="desc"> Ut suscipit consequat diam sit amet suscipit. Nunc nec cursus velit. In a felis non nunc tincidunt auctor.  </div>
				</div>
			</div>
		</div>
	</div>
<script src='script.js'></script>
</body>
</html>